<div class="container">
  <h2>{{journal.title}}</h2>
  <p>{{journal.summary}}</p>
  <a class="waves-effect waves-light btn" {{action 'back'}}>Back</a>
  <a class="waves-effect waves-light btn" {{action 'delete' journal.id}}>Delete</a>
</div>
