<ul id="nav-mobile" class="side-nav fixed">
  <li>{{#link-to "welcome"}}Welcome{{/link-to}}</li>
  <li>{{#link-to "aboutme"}}About me{{/link-to}}</li>
  <li>{{#link-to "journals"}}Blog{{/link-to}}</li>
</ul>
