
<ul id="nav-mobile" class="side-nav fixed">
  <li>{{#link-to "welcome"}}Welcome{{/link-to}}</li>
  <li>{{#link-to "aboutme"}}About me{{/link-to}}</li>
  <!-- <li>
    <ul class="collapsible collapsible-accordion">
      <li>
        <a class="collapsible-header waves-effect waves-teal">My projects</a>
        <div class="collapsible-body">
          <ul> -->
            <li>{{#link-to "journals"}}Blog{{/link-to}}</li>
          <!-- </ul>
        </div>
      </li>
    </ul>
  </li> -->
</ul>
