<nav class="top-nav">
  <div class="container">
    <a data-activates="nav-mobile" class="button-collapse top-nav full hide-on-large-only">
      <i class="material-icons">menu</i>
    </a>
    <div class="nav-wrapper center">
      <a class="page-title">{{title}}</a>
    </div>
  </div>
</nav>
