header, footer {
  padding-left: 100px;
}

main {
  padding-left: 150px;
  flex: 1 0 auto;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.side-nav {
  width: 200px;
  padding-top: 100px;
}

ul#nav-mobile li a {
  font-size: 14px;
  height: 35px;
  line-height: 35px;
}

li.active a, li.active a:hover {
  color: #fff !important;
  background-color: #a4c8da;
}

nav.top-nav {
  background-color: #66a3c1;
  font-size: 25px;
}

a.secondary-content, a.top-nav {
  cursor: pointer;
}

ul.custom {
  border-top: none;
  border-left: none;
  border-right: none;
}

#form {
  padding-top: 50px;
}

@media #{$medium-and-down} {
  header, main, footer {
      padding-left: 0;
  }
}

.alert-success {
  color: #fff;
  background-color: #43ac6a;
  border-color: #3a945b;
  a.close {
    color: #fff;
  }
}

.alert-success {
  color: #fff;
  background-color: #43ac6a;
  border-color: #3a945b;
  a.close {
    color: #fff;
  }
}

.alert-warning {
  color: #fff;
  background-color: #ee6e73;
  border-color: #ec6066;
  a.close {
    color: #fff;
  }
}

.alert-info {
  color: #fff;
  background-color: #f08a24;
  border-color: #de770f;
  a.close {
    color: #fff;
  }
}

.card-panel {
  margin-top: 50px;
  margin-bottom: 50px;
}
